@model museia.Models.CropperConfig

<div class="photo-preview-block">
    <label class="form-label">@Model.Label</label>
    <input type="file" class="form-control" id="@Model.InputId" accept="image/*" />
    <input type="hidden" name="@Model.HiddenFieldName" id="@Model.HiddenFieldId" />

    <div class="cropper-row" style="display:flex; flex-direction:column; width:100%; align-items:center;">
        <div>
            <img id="@Model.PreviewImageId" style="display: none; max-width: 20vw; border: 1px solid #ccc; padding: 4px; background: #fff;" />
            <div class="avatar-buttons" id="@Model.ActionWrapperId" style="display: none; ">
                <button type="button" id="@Model.CancelButtonId" class="btn btn-outline-danger btn-sm" style="margin:0px !important;">Скасувати</button>
            </div>
        </div>

        <div id="@Model.CroppedWrapperId" style="display: none; height:0vw;">
            <img id="@Model.CroppedImageId" style="max-width: 0vw; margin-top:0.7vw; background: #fff; display: block !important;" />
        </div>
    </div>
</div>
