@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/css/post.css" />
</head>
<body>

    <form method="get" asp-action="Index" class="m-3">
        <input type="text" name="searchText" class="form-control" placeholder="Пошук" style="width: 300px;" />
    </form>

    <div class="posts m-3">
        <h3>All Posts</h3>

        @if (Model.Count != 0)
        {
            foreach (var post in Model)
            {
                <div class="post mb-4 p-3 border rounded">
                        <div class="post-content">
                            <h4>@post.PostText</h4>
                            <p><strong>#</strong> @post.PostTag</p>
                            <p><strong>Дата публікації:</strong> @post.CreatedAt.ToString("yyyy-MM-dd")</p>
                        </div>

                        @if (!string.IsNullOrEmpty(post.PostPhoto))
                        {
                            <div class="post-image">
                                <img src="@post.PostPhoto" alt="Фото допису" style="max-width: 300px; max-height: 300px; border-radius: 10px;" />
                            </div>
                        }

                        <div class="post-actions">
                        <a href="@Url.Action("Edit", "Post", new { id = post.PostID })" class="btn btn-edit-post">Редагувати</a>

                            <form method="post" action="@Url.Action("Delete", "Post", new { id = post.PostID })">
                            <button type="submit" class="btn btn-delete-post" onclick="return confirm('Ви впевнені, що хочете видалити цей допис?')">Видалити</button>
                            </form>
                        <a href="@Url.Action("Report", "Complaint", new { postId = post.PostID })" class="btn btn-complaint-post">Поскаржитись</a>

                        </div>
                </div>
            }
        }
        else
        {
            <div>
                <h4>Нічого не вдалось знайти :(</h4>
            </div>
        }
    </div>

</body>
</html>
