@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}
<div class="posts">
    <h3>All Posts</h3>
    @{
        if(Model.Count != 0)
        {
            foreach (var post in Model)
            {
                <div class="post">
                    <h4>@post.PostText</h4>
                    <p>@post.PostTag</p>
                    <p><strong>Дата публікації:</strong> @post.CreatedAt.ToString("yyyy-MM-dd")</p>
                </div>
                <a href="@Url.Action("Edit", "Post", new { id = post.PostID })" class="btn btn-warning btn-sm">Редагувати</a>
                <form method="post" action="@Url.Action("Delete", "Post", new { id = post.PostID })">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Ви впевнені, що хочете видалити цей пост?')">Видалити</button>
                </form>
            }
        }
        else
        {
            <div>
                <h4>Постів ще нема, лох</h4>
            </div>
        }
    }
    
</div>

